In [8]:
def flat_list_product(lst):
    # Create a flat list by concatenating all sublists, tuples and sets in the list
    flat_list = []
    for item in lst:
        if type(item) == list:
            flat_list += item
        elif type(item) == tuple or type(item) == set:
            flat_list += list(item)
        else:
            flat_list.append(item)
    
    # Initialize a product variable to 1
    product = 1
    
    # Loop through the flat list and multiply each item by the product
    for item in flat_list:
        # Only consider numerical values for multiplication
        if type(item) in [int, float]:
            product *= item
    
    return product

In [9]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,22, 61, 34)}, [56, 'data science'], 'Machine Learning']
result = flat_list_product(list1)
print(result)

578815684656168960

In [10]:
flat_list

NameError: name 'flat_list' is not defined

In [6]:
lst=[1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,22, 61, 34)}, [56, 'data science'], 'Machine Learning']
flat_list = []

In [7]:
lst

[1,
 2,
 3,
 4,
 [44, 55, 66, True],
 False,
 (34, 56, 78, 89, 34),
 {1, 2, 3},
 {1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)},
 [56, 'data science'],
 'Machine Learning']

In [8]:
flat_list

[]

In [11]:
for i in lst:
    print(i)

1
2
3
4
[44, 55, 66, True]
False
(34, 56, 78, 89, 34)
{1, 2, 3}
{1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)}
[56, 'data science']
Machine Learning

In [56]:
flat_list=[]
set1={1,2,3}
print(type(set1))
tup=(1,2,3)
print(type(tup))
print(list(tup))
print(list(set1))

<class 'set'>
<class 'tuple'>
[1, 2, 3]
[1, 2, 3]

In [57]:
for i in lst:
    if type(i)==list:
        #flat_list.append(i)
        flat_list+=i
    elif type(i)==set or type(i)==tuple:
        flat_list=flat_list+list(i)
    else: 
        flat_list.append(i)
        
    #else:
     #   pass

In [60]:
prod=1
for j in flat_list:
    if type(j)==int or type(j)==float:
        print(j)
        prod=prod*j

1
2
3
4
44
55
66
34
56
78
89
34
56

In [59]:
prod

96469280776028160

In [53]:
flat_list
for i in lst:
    flat_list.append(i)

In [54]:
flat_list

[1,
 2,
 3,
 4,
 [44, 55, 66, True],
 False,
 (34, 56, 78, 89, 34),
 {1, 2, 3},
 {1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)},
 [56, 'data science'],
 'Machine Learning']