In [1]:
age=32
print("my age is ",age)

my age is  32

In [2]:
print("my age is {age}")

my age is {age}

###FSTRING

In [3]:
print(f"my age is {age}")

my age is 32

In [4]:
name="IJAJ"
print("my name is {} and age is {}".format(name,age))

my name is IJAJ and age is 32

In [5]:
print("my name is {} and age is {}".format(age,name))

my name is 32 and age is IJAJ

In [6]:
print("my name is {a} and age is {b}".format(a=name,b=age))

my name is IJAJ and age is 32

In [8]:
name=str(input("enter name: "))

enter name:  123rana

In [9]:
type(name)

str

In [10]:
age=float(input("enter age: "))

enter age:  18.7

In [12]:
age=int(input("eneter age: "))
if age>=18 and age<=45:
    print("you are eligible")
else:
    print("you are not eligible")

eneter age:  12

you are not eligible

In [13]:
price=float(input("enter price: "))
if price<=1000:
    print(price*70/100)
elif price>1000:
    print(price*80/100)
else:
    print(price)

enter price:  750

525.0

In [14]:
price=float(input("enter price: "))
if price<=1000:
    print(price*70/100)
else:
    print(price*80/100)

enter price:  520

364.0

In [17]:
price=float(input("enter price: "))
if price<=1000:
    print(price*70/100)
elif price>1000 and price<=2000:
    print(price*80/100)
elif price>2000 and price<=3000:
    if price==2999:
        print("you are lucky")
    print(price*60/100)
else:
    print(price)

enter price:  2999

you are lucky
1799.4

###LOOPS

In [22]:
age=25
i=1
while age<=60:
      age=age+1
      print(age)
else:
    print("retire")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
retire

In [23]:
amount=1000
while amount!=0:
    print(amount)
    amount=amount-100
else:
    print("put money")

1000
900
800
700
600
500
400
300
200
100
put money

In [24]:
lst=["ijaj",1,2,3,"ahmed"]

In [34]:
lst
print(lst[0::2])

['ijaj', 2, 'ahmed']

In [30]:
for x in lst:
    print(x)

ijaj
1
2
3
ahmed

In [36]:
for x in lst:
    print(x)
    if x==3:
        print("lucky")
        break

ijaj
1
2
3
lucky

In [35]:
for x in lst:
    print(x)
    if x==3:
        print("lucky")

ijaj
1
2
3
lucky
ahmed

In [64]:
for x in lst:
    if x==3:
        print("it is 3")
        break
    print(x)

ijaj
1
2
it is 3

In [63]:
for x in lst:
    if x==3:
        print("it is 3")
        continue
    print(x)

ijaj
1
2
it is 3
ahmed

In [27]:
type(lst)

list

In [18]:
age=25
i=1
while age<=60:
    print(age)
    age=age+1

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60

In [40]:
fruit="mango"
for a in fruit:
    print(a, end="\n")

m
a
n
g
o

In [43]:
fruit[3]

'g'

In [46]:
for i in range(1,6):
    print(i, end=" ")

1 2 3 4 5

In [47]:
for i in range(1,6,2):
    print(i, end="")

135

In [54]:
n=int(input("number of steps: "))
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

number of steps:  5

*
**
***
****
*****

In [71]:
n=int(input("number of steps: "))
for i in range(1,n+1):
    print(' '*(n-i) + ' *'*(i))

number of steps:  5

     *
    * *
   * * *
  * * * *
 * * * * *