##Measure of Dispersion
## Variance and Standard Deviation

In [21]:
##Variance
#numpy works on lists...
#pandas works on DataFrames(table like)...

ages_lst=[23,43,23,56,74,32,68,57]

In [4]:
import numpy as np

In [6]:
mean=np.mean(ages_lst)
mean

47.0

In [8]:
var=np.var(ages_lst)
var

343.0

In [9]:
std=np.std(ages_lst)
std

18.520259177452136

In [10]:
import pandas as pd

In [11]:
data=[[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
df=pd.DataFrame(data,columns=['A','B','C'])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [14]:
var2=df.var() #by default, axis=0..column wise
var2

A    9.0
B    9.0
C    9.0
dtype: float64

In [18]:
df.mean(axis=1) #axis=1...rowwise mean

0    2.0
1    5.0
2    8.0
dtype: float64

In [19]:
std2=df.std()
std2

A    3.0
B    3.0
C    3.0
dtype: float64

In [20]:
std3=df.std(axis=1)
std3

0    1.0
1    1.0
2    1.0
dtype: float64