In [1]:
'''Q1.Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’ Add ‘mango to the above list Also 
add banana, grapes & orange in the list insert apple in the 5th position of a variable ‘a’ Remove last item from the list'''

'Q1.Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’ Add ‘mango to the above list Also \nadd banana, grapes & orange in the list insert apple in the 5th position of a variable ‘a’ Remove last item from the list'

In [17]:
l=[2,3,4,5,6,7]
l.append('mango')
l.extend(['banana','grapes','orange'])
l.insert(4,'apple')
l.pop()
print(l)

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

In [18]:
'''L = [1,2,3,4,5,6,7] Using the above list slice from 1:4'''

'L = [1,2,3,4,5,6,7] Using the above list slice from 1:4'

In [22]:
l=[1,2,3,4,5,6,7]
l[1:4]

[2, 3, 4]

In [23]:
'''Q3.Reverse the order of given string L = [4,5,6,8,3]'''

'Q3.Reverse the order of given string L = [4,5,6,8,3]'

In [32]:
L=[4,5,6,8,3]
L.reverse()
L

[3, 8, 6, 5, 4]

In [33]:
'''Q4.Use list comprehension to square the given list L=[2,4,7,3,6,8]'''

'Q4.Use list comprehension to square the given list L=[2,4,7,3,6,8]'

In [34]:
'''Q5.Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.'''

'Q5.Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.'

In [38]:
def sum_tuple(n):
    return sum(n)
t=input("Enter tuple: ")
print(sum_tuple(t))

Enter tuple:  (3, 9)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
def sum_tuple(t):
    """
    Takes a tuple of integers and returns the sum of its elements.
    """
    return sum(t)

# Test the function with a tuple of integers
my_tuple = (1,2,3,4,5,6)
print(sum_tuple(my_tuple))

21

In [43]:
'''Q6.Create two sets of your favorite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console.'''

'Q6.Create two sets of your favorite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console.'

In [44]:
fruits1={'apple','banana','pear'}
fruits2={'orange','grape','mango'}
combined_fruits=fruits1.union(fruits2)
print(combined_fruits)

{'banana', 'apple', 'orange', 'mango', 'pear', 'grape'}

In [45]:
'''Q7.Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.'''

'Q7.Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.'

In [55]:
set1={'rana','ijaj','ahmed'}
set1.add('putu')
print(set1)

{'rana', 'ijaj', 'ahmed', 'putu'}

In [56]:
'''Q8.Create a set of your favorite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console.'''

'Q8.Create a set of your favorite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console.'

In [57]:
animals={'tiger','lion','kukur','hati'}
animals.remove('lion')
print(animals)

{'tiger', 'hati', 'kukur'}

In [58]:
'''Q9.favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"} favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"] Use the zip() function to combine the book set and movie list into a list of tuples representing book/movie pairs. Print the resulting list.'''

'Q9.favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"} favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"] Use the zip() function to combine the book set and movie list into a list of tuples representing book/movie pairs. Print the resulting list.'

In [62]:
# Create a set of favorite books and a list of favorite movies
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

# Combine the book set and movie list into a list of tuples using the zip() function
book_movie_pairs = list(zip(favorite_books, favorite_movies))

# Print the resulting list
#for i in book_movie_pairs:
 #   print(i)
print(book_movie_pairs)

[('To Kill a Mockingbird', 'The Shawshank Redemption'), ('Pride and Prejudice', 'The Godfather'), ('1984', 'The Dark Knight')]

In [63]:
'''Q10.Write a Python program to find the difference between consecutive numbers in a list.'''

'Q10.Write a Python program to find the difference between consecutive numbers in a list.'

In [64]:
def consecutive_difference(lst):
    diff_lst = []
    for i in range(len(lst)-1):
        diff_lst.append(abs(lst[i] - lst[i+1]))
    return diff_lst

# Example usage
my_list = [3, 5, 2, 8, 1]
diff_list = consecutive_difference(my_list)
print(diff_list)

#note:The consecutive_difference() function takes a list as input and returns a list of differences between consecutive numbers

[2, 3, 6, 7]

In [74]:
def consec_diff(lst):
    diff_lst=[]
    for i in range(len(lst)-1):
        diff_lst.append(abs(lst[i]-lst[i+1]))
    return diff_lst

my_list=[1,3,5,9,15]
print(consec_diff(my_list))

[2, 2, 4, 6]